.hidden {
  display: none;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cv-container {
  background-color: #fff;
  width: 80%;
  max-width: 800px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

header p {
  font-size: 1.2em;
  color: #666;
}

.buttons {
  text-align: center;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.section {
  margin: 20px 0;
  display: none;
}

.hidden {
  display: none;
}

section h2 {
  color: #007bff;
  border-bottom: 2px solid #007bff;
  padding-bottom: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
}
.hidden {
  display: none;
}
#personal-photo {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-top: 10px;
}
